.hero-img {
    width: 500px;
    height: 100px;
    position: relative;
    right: 18px;
}

.hero-img img {
    max-height: 400px;
    width: 570px;
}

.pero{
    width: 100vw;
    background-color: rgba(221, 232, 241);
    min-height: 520px;
}

.zero {
    display: flex;
    margin: 0 110px;
    line-height: 60px;
    height: 400px;
    width: 1100px;
    padding-top: 50px;
    animation: fadeIn 2s;
}

.htext1 {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(6, 194, 223, 0.975);
    font-weight: 600;
    letter-spacing: 0.5px;
}

.htext2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 40px;

}

.htext3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}


.hbutton button {
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 12px;
    border: 1px solid;
    border-radius: 3px;
    color: white;
    background-color: black;
    position: relative;
    top: 15px;
    width: 130px;
}

.hero2 {
    height: 200px;
    width: 550px;
}