.final {
    display: flex;
    gap: 120px;
    position: relative;
    margin-top: auto;
    padding: 20px 0;
    background-color: rgba(1, 116, 1, 0.895);
    width: 100%;
    height: auto;
}

.final-img {

    width: 40%;
    height: auto;
    position: relative;
    left: 45px;
}

.final-img img {
    height: 220px;
    width: auto;
    transform: scale(1.6);
    margin-left: 40px;
}

.final p {
    align-items: center;
    padding-left: 20px;
    position: relative;
    bottom: 15px;
    color: rgba(243, 241, 241, 0.97);

}

.ftext1 {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-weight: 400;
}

.quicklink {
    height: auto;
    width: 180px;
    margin-top: 50px;
    padding-right: 30px;
    position: relative;
    right: 60px;
}

.quicklink ul,
.Contact ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.quicklink ul li,
.Contact ul li {
    list-style: none;
}

.quicklink ul li a,
.Contact ul li {
    text-decoration: none;
    color: rgba(243, 241, 241, 0.97);
    font-size: 16px;
    font-weight: 400;
}

.quick {
    font-size: 25px;
    font-weight: 400;
    color: rgba(243, 241, 241, 0.97);
}

.Contact {
    height: auto;
    width: 180px;
    margin-top: 50px;
    padding-right: 30px;
    position: relative;
    right: 50px;
}

ul li.Cs {
    font-size: 25px;
    font-weight: 400;
    color: rgba(243, 241, 241, 0.97);
}

.Contact ul {
    width: 320px;
}

.Contact ul li a {
    text-decoration: none;
    color: rgba(243, 241, 241, 0.97);
    font-size: 16px;
    font-weight: 400;
}
